// $color-1: #FAF8F1;
// $color-2: #FAEAB1;
// $color-3: #E5BA73;
// $color-4: #C58940;
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Festive&family=Inter&family=Lobster+Two:wght@400;700&family=Montserrat&family=Poppins:wght@300&family=Roboto+Mono&family=Sirin+Stencil&family=Splash&family=Stylish&family=Supermercado+One&family=Titillium+Web&family=Ubuntu:wght@300;500;700&display=swap');

.custom-dark {
    --color-1: #261C2C;
    --color-2: #3E2C41;
    --color-3: #5C527F;
    --color-4: #6E85B2;
}

.custom-light {
    --color-1: #FAF8F1;
    --color-2: #FAEAB1;
    --color-3: #E5BA73;
    --color-4: #C58940;
}